/*https://www.w3schools.com/howto/howto_css_style_header.asp*/
.header {
    padding: 30px;
    text-align: center;
    background: #186ABB;
    color: #F5F9FF;
    font-size: 25px;
}

.mainbody {
    padding: 10px;
    font-family: Palatino;
}

input[type="file"] {
    position: absolute;
    left: -99999rem;
}

/*https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way*/
/*https://www.w3docs.com/snippets/css/how-to-style-html-file-input-button-with-css.html*/
.custom-file-input + label {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #6997DB;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}
input[type=submit] {
    display: inline-block;
    border-radius: 1px;
    background-color: #EDF1FF;
    font-size: 11px;
    font-weight: bold;
}
option:hover {
    background-color: #ddd;
}

p.upload-success {
    color: #4570F6;
    font-family: Palatino;
    display: inline;
}

.custom-select-list {
    background-color: #F5F6FC;
    padding: 2px 3px;
    display: inline-block;
}

hr {
	border-top: 1px dotted #000;
}
.results {
    font-weight: bold;
}