<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/styles_about.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='styles/scripts.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="page">
        <div class="topNaviagationLink"><a href="{{ url_for('hello') }}">Home</a></div>
        <div class="topNaviagationLink"><a href="{{ url_for('about') }}">About MPI</a></div>
        <div class="topNaviagationLink"><a href="{{ url_for('contact') }}">Contact Us</a></div>

    </div>



    <div id="mainPicture">
        <div class="picture">
            <div id="headerTitle">Questions? Concerns? Contact us!</div><br />
            <div id="headerSubtext">Our members:

                <ul>
                    <br />
                    <li>Noah: <strong>noah.asaria@marquette.edu</strong></li>
                    <br />
                    <li>Jamie: <strong>jamiegloria@gmail.com</strong> </li>
                    <br />
                    <li>Zach: <strong>zparks2315@gmail.com</strong> </li>
                    <br />
                    <li>Maryam: <strong>vazirabad.maryam@gmail.com</strong> </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>