<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='styles/scripts.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="header">
        <h1>Master Patient ID</h1>
        <p>Noah Asaria, Jamie Oesterle, Zach Parks, Maryam Vazirabad</p>
    </div>
    <div class="mainbody">
	    <h2>Attach a file below:</h2>
        <form method="post" enctype=multipart/form-data>
            <input type="file" name="file" id="file1" onchange="javascript:updateList()" class="custom-file-input"/>
            <label for="file1">Select File</label>
            <input type="submit" class="custom-submit-btn"/>
            <div id="fileList"></div>
        </form>
    </div>
    {% if file_type == '.xml' %}
        <h3>Successfully uploaded: {{file_name}} </h3>
        <h4>Select Parameters to query: </h4>
        <form method="post">
            <select id=" demographicSelectors" multiple="multiple" size="10" name="queryparams">
                <option value="given:{{given}}" name="given">(First Name) {{given}} </option>
                <option value="family:{{family}}" name="family">(Last Name) {{family}}</option>
                <option value="gender:{{gender}}" name="gender">(Gender) {{gender}}</option>
                <option value="race:{{race}}" name="race">(Race) {{race}}</option>
                <option value="address:{{address}}" name="address">(Address) {{address}}</option>
                <option value="city:{{city}}" name="city">(City) {{city}}</option>
                <option value="state:{{state}}" name="state">(State) {{state}}</option>
                <option value="postalcode:{{postalcode}}" name="postalcode">(Zip Code) {{postalcode}}</option>
                <option value="birthtime:{{birthtime}}" name="birthtime">(Birthdate) {{birthtime}}</option>
            </select>
            <p></p>
            <button type="submit" formmethod="post" name="query">Query SIIM Database</button>
        </form>
    {% elif file_type == 'N/A' %}
        <h4>{{prompt}}</h4>
    {% elif showResponse == 'True' %}
        <h4>Number of matches found: {{numResults}} </h4>
        <p>Results: {{responseText}}</p>
    {% else %}
        <p></p>
    {% endif %}
</html>